body {
background-image:url(https://www.wendys.com/sites/default/files/2022-02/Wendys-UK-Restaurant-Grand-Opening-Interior_760x428.jpeg);
background-repeat:no-repeat;
height:100%;
background-size:cover;
}
h1 {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
  color:red;
}
